uvicorn
gunicorn
fastapi
sqlalchemy
databases
pymysql
alembic
pydantic
pytest
pytest-asyncio
git+https://github.com/long2ice/asyncmy.git@v0.2.9
httpx
cryptography
fastapi-utils
redis
typing-inspect


